@import url(colors.css);
@import url(fonts.css);

/* #### ALL DOCUMENT #### */
body {
    font-family: 'Proxima Nova Regular';
    font-size: 18px;
    line-height: 1.6em;
    color: var(--black);
}

/* #### PARAGRAPHS #### */
p {
    margin: 0;
}

.small-p {
    font-size: 14px;
}

/* #### HEADERS, TITLES #### */
h1 {
    font-family: 'Proxima Nova Bold';
    font-size: 2.5em;
    line-height: 0.9em;
    color: var(--black);
    margin: 0;
}

.big-title {
    font-size: 4em;
    color: var(--black);
}

h2 {
    font-family: 'Proxima Nova Bold';
    font-size: 2em;
    line-height: 1.2em;
    color: var(--black);
    margin: 0;
}

h3 {
    font-family: 'Proxima Nova Bold';
    font-size: 1.55em;
    line-height: 1.2em;
    color: var(--black);
    margin: 0;
}

h4 {
    font-family: 'Proxima Nova Bold';
    font-size: 1.25em;
    line-height: 1.2em;
    color: var(--black);
    margin: 0;
}

/* #### QUOTES #### */
q, cite, blockquote p {
    font-family: 'Proxima Nova Regular Italic';
    font-size: 1.1em;
    color: var(--gray-700);
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

/* #### LINKS #### */
a {
    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: var(--black);
}

nav a {
    text-decoration: none;
    color: var(--black);
}

nav a:active, a:hover {
    color: var(--primary-500);
}

.badge {
    font-family: 'Proxima Nova Bold';
    font-size: 0.7em;
}

/* #### LIST #### */
ul li {
    font-size: 14px;
}

/* #### MEDIA QUERIES #### */
@media (max-width: 990px) {
    .big-title {
        font-size: 2.7em;
        color: var(--black);
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 575px) {
    .big-title {
        font-size: 2em;
        color: var(--black);
    }

    h2 {
        font-size: 1.25em;
    }
}

@media (max-width: 215px) {
    .big-title {
        font-size: 1.3em;
        color: var(--black);
    }

    h2 {
        font-size: 0.7em;
    }
}